<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta encoding and viewport  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- styles.css -->
     <link rel="stylesheet" href="styles/styles.css">
     <!-- meta seo -->
      <meta name="description" content="This is a simple to do list app. You can use this to create lists of your daily tasks. Keep records of what you have completed and what remains to be done.">
      <!-- title -->
    <title>To-Do List</title>
</head>
<body>
    <!-- main -->
    <main class="main-container">
        <!-- sidebar -->
        <div class="sidebar">
            <!-- sidebar-top -->
            <div class="sidebar-inner">
                <img src="" alt="">
                <div class="sidebar-inner-text-container">
                    <p>Do-it</p>
                    <p class="name">Hamza</p>
                </div>
            </div>
            <!-- sidebar-divider -->
            <div class="sidebar-divider"></div>
            <!-- sidebar-bottom -->
            <div class="sidebar-inner">
                <div class="side-bar-content-wrapper">
                    <i class="fa-solid fa-calendar-circle-plus"></i>
                    <div class="today-tasks">
                        <p>Today's Tasks</p>
                    </div>
                </div>
                <div class="side-bar-content-wrapper">
                    <i class="fa-solid fa-calendar-clock"></i>
                    <div class="today-tasks">
                        <p>Scheduled Tasks</p>
                    </div>
                </div>
                <div class="side-bar-content-wrapper">
                    <i class="fa-solid fa-gear"></i>
                    <div class="">
                        <p>Settings</p>
                    </div>
                </div>
            </div>
        </div>
        <!--tasks container -->
        <div class="todo-main">
            <!-- heading  -->
            <div class="heading-container">
                <h3>
                    Todays Main Focus
                </h3>
                <h1>
                    Meeting with Hamza
                </h1>
            </div>
            <!-- input for task creation -->
            <div class="task-creation-wrapper">
                <input type="text" name="task" id="task" required placeholder="What is your next task? ">
                <input type="time" name="dueTime" id="time" >
                <input type="date" name="dueDate" id="date">
            </div>
            <!-- list of todays tasks -->
             <div class="date-tasks">

                <div class="task-details">
                    <p class="task-title">Task content</p>
                    <p class="time">8:00 am</p>
                    <input type="hidden" name="id" value="1">
                    <input type="button" value="✔" class="task-check">
                </div>
             </div>
        </div>
    </main>
</body>
</html>