<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta encoding and viewport  -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon link -->
     <link rel="shortcut icon" href="assets/check.png" type="image/x-icon">
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- styles.css -->
     <link rel="stylesheet" href="styles/styles.css">
     <!-- meta seo -->
      <meta name="description" content="This is a simple to do list app. You can use this to create lists of your daily tasks. Keep records of what you have completed and what remains to be done.">
      <!-- title -->
    <title>To-Do List</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <!-- main -->
    <main class="main-container">